.navbar-nav a {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.hover-effect {
    transition: all .2s ease-in-out;
}

.hover-effect:hover {
    background-color: white;
    box-shadow: 6px 6px 3px lightgray;
    transform: scale(1.1);
}

.hover-effect>.card-body>img {
    padding: 15px;
}

section {
    padding-bottom: 50px;
}

.footer-section {
    color: white;
    background-color: #282531;
    padding: 40px 20px 1px 20px;
    margin: 10px 10px;
}

.second-section {
    padding-top: 100px;
}

.second-section img {
    width: 500px;
}

.categories img {
    width: 110px;
}

.card {
    border: none;
    border-radius: 10px 40px;
    box-shadow: 3px 3px 3px lightgray;
}

.card-footer {
    border-top: none;
}

.card-footer img {
    height: 25px;
    weight: 25px;
}

p {
    font-weight: 500;
    color: gray;
    line-height: 200%;
}

h1 {
    font-weight: 900;
    font-size: 50px;
}

h2 {
    margin-bottom: 100px;
}

.button {
    background-image: linear-gradient(to bottom, #21B573 0%, #21B573 100%);
    color: white;
    border: none;
    border-radius: 33px;
    padding: 12px 36px;
    cursor: pointer;
}

.green-bg {
    color: #21B573;
}

#orange-bg {
    color: tomato;
}

.bg-color {
    background-color: #d2ffeb;
}

footer {
    color: white;
    text-align: center;
}